body {
    font: 16px/24px helvetica, serif;
    background-color: #FFD6AC; 
}

h1, h2, {
    font-family: Arial, sans-serif;
}

h1 {
    line-height: 48px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}


p {
    margin-bottom: 24px;
}

img {
    width: 50%;
    max-width: 650px;
}

header {
    margin-bottom: 10px;
}

h1.nametag {
    text-align: center;
    font-size: 50px;
    font-family: Times, serif;
}

nav {
    border-top: 3px solid #1F1F7A;
    border-bottom: 3px solid #1F1F7A;
}

nav a {
    color: #1F1F7A;
    display: inline-block;
    font: 18px/24px 'Oswald', sans-serif;
    padding: 10px;
    text-decoration: none;
    text-align: center;
        
}

footer {
    border-top: 3px solid #1F1F7A;
    text-align: center;
    
}

